#KanbanboardTaskModifyModal {
    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vw;
        background-color: rgba($color: black, $alpha: 0.3);
        z-index: 999;
        .modal-body {
            z-index: 1000;
            background-color: white;
            width: 380px;
            height: 240px;
            border-radius: 5px;
            position: fixed;
            top: calc(50% - 180px);
            left: calc(50% - 230px);
            padding: 60px 40px;
            input,
            textarea {
                width: 100%;
                resize: none;
                border: none;
                font-family: 'Spoqa Han Sans';
                &#taskTitleInput {
                    border-bottom: olive 1px solid;
                    font-size: 20px;
                }
                &#taskDescInput {
                    margin-top: 12px;
                    font-size: 14px;
                    height: 180px;
                }
            }
            button {
                border: none;
                background-color: transparent;
                font-size: 16px;
                cursor: pointer;
                &.save-btn {
                    position: absolute;
                    bottom: 24px;
                    right: 20px;
                    padding: 6px 12px;
                    background-color: rgb(52, 152, 219);
                    color: white;
                    border-radius: 3px;
                }
                &.close-btn {
                    position: absolute;
                    bottom: 24px;
                    right: 78px;
                    padding: 6px 12px;
                    background-color: rgb(190, 190, 190);
                    color: white;
                    border-radius: 3px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #KanbanboardTaskModifyModal {
        display: none;
    }
}
