#KanbanboardStep {
    width: 25%;
    height: 100%;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    overflow: hidden;
    .step-title {
        color: white;
        font-weight: 500;
        font-size: 18px;
        line-height: 44px;
        border-radius: 5px 5px 0px 0px;
        height: 44px;
        padding: 0px 16px;
    }

    .task-wrapper {
        height: calc(100% - 44px);
        overflow-y: scroll;
        overflow-x: hidden;
    }
    & + #KanbanboardStep {
        margin: 0px 0px 0px 14px;
    }
}

@media screen and (max-width: 500px) {
    #KanbanboardStep {
        width: 100%;
        height: auto;

        & + #KanbanboardStep {
            margin: 14px 0px 0px 0px;
        }
    }
}
