.search-popup
    padding: 20px
.collection-title
    display: none
.site-description
    white-space: break-spaces;
p, figure
    & + h1
        margin-top: 80px;
article
    img
        width: 400px;
    h1  
        font-size: 2 rem;
body
    font-size : 0.9 em;
code
    background-color: #282c34;

