$theme-color = #FFD460;
$brand-color = #2D4059;
$text-color = #2D4059;
$font-family-chinese = 'IBM Plex Sans KR', sans-serif;
$font-family-base         = $font-family-chinese
$font-family-logo         = $font-family-chinese
$font-family-headings     = $font-family-chinese
$font-family-posts        = $font-family-chinese
